<section id="contact" class="contact-section">
  <div class="contact-content">
    <div class="container">
      <div class="contact-wrapper">

        <div class="contact-info">
          <h3 class="sub-heading">CONTACT ME</h3>
          <h2 class="main-heading">Ready to work together?</h2>
          <p>
            Encourage people to contact you and describe what role you are
            interested in. Express confidence in your ability to make a
            meaningful contribution to a team through your expertise and
            enthusiasm for improving your skills.
          </p>
          <p>
            Show interest in contributing to a new project, while
            highlighting the value and skills you can bring to the table.
          </p>
          <img src="assets/img/contact/Color option 3.png" alt="Arrow decoration" class="arrow-image">
        </div>

        <div class="contact-form">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="logo-container">
              <div class="circular-logo">
                <div class="background-circle">
                  <img src="assets/img/contact/08_ Color option 3 - C.png" alt="Background circle" class="circle-image">
                </div>
                
                <div class="rotating-text">
                  <svg class="circular-text" viewBox="0 0 200 200">
                    <defs>
                      <path id="circle" d="M 100, 100 m -75, 0 a 75,75 0 1,1 150,0 a 75,75 0 1,1 -150,0"/>
                    </defs>
                    <text class="rotating-text-path">
                      <textPath href="#circle">
                        Viktor Naumann • Frontend Developer •
                      </textPath>
                    </text>
                  </svg>
                </div>
                
                <div class="logo-center">
                  <img src="assets/img/header/logo.png" alt="Viktor Naumann Logo" class="logo">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="name">What's your name?</label>
              <input 
                type="text" 
                id="name" 
                formControlName="name" 
                [ngClass]="{'error-input': formSubmitted && contactForm.get('name')?.errors}"
                [placeholder]="formSubmitted && contactForm.get('name')?.errors ? 'Oops! it seems your name is missing' : 'Your name goes here'">
            </div>

            <div class="form-group">
              <label for="email">What's your email?</label>
              <input 
                type="email" 
                id="email" 
                formControlName="email" 
                [ngClass]="{'error-input': formSubmitted && contactForm.get('email')?.errors}"
                [placeholder]="formSubmitted && contactForm.get('email')?.errors ? 'Hoppla! your email is required' : 'youremail@email.com'">
            </div>

            <div class="form-group">
              <label for="message">How can I help you?</label>
              <textarea 
                id="message" 
                formControlName="message" 
                [ngClass]="{'error-input': formSubmitted && contactForm.get('message')?.errors}"
                [placeholder]="formSubmitted && contactForm.get('message')?.errors ? 'What do you need to develop?' : 'Hello Viktor, I am interested in...'">
              </textarea>
            </div>

            <div class="form-check">
              <input 
                type="checkbox" 
                id="privacyPolicy" 
                formControlName="privacyPolicy" 
                class="form-check-input">
              <label for="privacyPolicy" class="form-check-label">
                I've read the <a href="#" class="privacy-link">privacy policy</a> and agree to the processing of my data as outlined.
              </label>
            </div>

            <div class="error-message" 
                 [ngClass]="{'visible': formSubmitted && contactForm.get('privacyPolicy')?.errors, 'hidden': !(formSubmitted && contactForm.get('privacyPolicy')?.errors)}">
              Please accept the privacy policy.
            </div>

            <div class="form-submit">
              <button 
                type="submit" 
                [disabled]="!contactForm.get('privacyPolicy')?.value"
                [ngClass]="{'disabled': !contactForm.get('privacyPolicy')?.value}">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>

