<section id="contact" class="contact-section">
  <div class="contact-content">
    <div class="container">
      <div class="contact-wrapper">

        <div class="contact-info">
          <h3 class="sub-heading">{{ 'CONTACT.CONTACT_ME' | translate }}</h3>
          <h2 class="main-heading">{{ 'CONTACT.READY_TO_WORK' | translate }}</h2>
          <p>{{ 'CONTACT.DESCRIPTION_PARAGRAPH_1' | translate }}</p>
          <p>{{ 'CONTACT.DESCRIPTION_PARAGRAPH_2' | translate }}</p>
          <img src="assets/img/contact/Color option 3.png" alt="Arrow decoration" class="arrow-image">
        </div>

        <div class="contact-form">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="logo-container">
              <div class="circular-logo">
                <div class="background-circle">
                  <img src="assets/img/contact/08_ Color option 3 - C.png" alt="Background circle" class="circle-image">
                </div>
                
                <div class="rotating-text">
                  <svg class="circular-text" viewBox="0 0 200 200">
                    <defs>
                      <path id="circle" d="M 100, 100 m -75, 0 a 75,75 0 1,1 150,0 a 75,75 0 1,1 -150,0"/>
                    </defs>
                    <text class="rotating-text-path">
                      <textPath href="#circle">
                        {{ 'CONTACT.ROTATING_TEXT' | translate }}
                      </textPath>
                    </text>
                  </svg>
                </div>
                
                <div class="logo-center">
                  <img src="assets/img/header/logo.png" alt="Viktor Naumann Logo" class="logo">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="name">{{ 'CONTACT.WHATS_YOUR_NAME' | translate }}</label>
              <input 
                type="text" 
                id="name" 
                formControlName="name" 
                [ngClass]="{'error-input': formSubmitted && contactForm.get('name')?.errors}"
                [placeholder]="getNamePlaceholder()">
            </div>

            <div class="form-group">
              <label for="email">{{ 'CONTACT.WHATS_YOUR_EMAIL' | translate }}</label>
              <input 
                type="email" 
                id="email" 
                formControlName="email" 
                [ngClass]="{'error-input': formSubmitted && contactForm.get('email')?.errors}"
                [placeholder]="getEmailPlaceholder()">
            </div>

            <div class="form-group">
              <label for="message">{{ 'CONTACT.HOW_CAN_I_HELP' | translate }}</label>
              <textarea 
                id="message" 
                formControlName="message" 
                [ngClass]="{'error-input': formSubmitted && contactForm.get('message')?.errors}"
                [placeholder]="getMessagePlaceholder()">
              </textarea>
            </div>

            <div class="form-check">
              <input 
                type="checkbox" 
                id="privacyPolicy" 
                formControlName="privacyPolicy" 
                class="form-check-input">
              <label for="privacyPolicy" class="form-check-label">
                {{ 'CONTACT.PRIVACY_POLICY_TEXT' | translate }} <a href="#" class="privacy-link">{{ 'CONTACT.PRIVACY_POLICY_LINK' | translate }}</a> {{ 'CONTACT.PRIVACY_POLICY_AGREE' | translate }}
              </label>
            </div>

            <div class="error-message" 
                 [ngClass]="{'visible': formSubmitted && contactForm.get('privacyPolicy')?.errors, 'hidden': !(formSubmitted && contactForm.get('privacyPolicy')?.errors)}">
              {{ 'CONTACT.PRIVACY_POLICY_ERROR' | translate }}
            </div>

            <div class="form-submit">
              <button 
                type="submit" 
                [disabled]="!contactForm.get('privacyPolicy')?.value"
                [ngClass]="{'disabled': !contactForm.get('privacyPolicy')?.value}">
                {{ 'CONTACT.SEND' | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>

