.navbar {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  align-items: center;
  padding-left: 72px;
  padding-right: 72px;
}

.nav-logo {
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    height: 40px; 
    width: 40px;
    object-fit: contain;
    filter: brightness(0) saturate(100%) invert(25%) sepia(99%) saturate(2454%) hue-rotate(234deg) brightness(99%) contrast(101%); 
    transition: filter 0.3s ease;
  }
  
  &:hover .logo-image {
    filter: brightness(0) saturate(100%) invert(73%) sepia(86%) saturate(768%) hue-rotate(358deg) brightness(102%) contrast(95%);
  }
}

.nav-menu {
  display: flex;
  flex: 1;
  justify-content: space-around; 
  padding: 0;
  list-style: none;
  margin: 0 48px;
  
  li {
    margin: 0; 
    
    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 18px;     
      font-weight: 700;      
      transition: color 0.3s ease;
      font-family: 'Bricolage Grotesque', sans-serif;
      position: relative;
      display: flex;
      align-items: center;
      
      .nav-icon {
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        height: 52px;
        width: auto; 
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      
      &:hover {
        .nav-icon {
          opacity: 1;
        } // Klammer für .nav-icon innerhalb von &:hover
      } // Klammer für &:hover
    } // Klammer für a
  } // Klammer für li
} // Klammer für .nav-menu

.language-switcher {
  display: flex;
  align-items: center;
  width: 104px;
  height: 32px;
  justify-content: space-between;
  padding: 0 10px;
  
  .language-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .language {
      color: #ffffff;
      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
      font-family: 'Bricolage Grotesque', sans-serif;
      position: relative;
      z-index: 2; 
      cursor: pointer;
      
      &.active {
        color: #F87A55; 
      }
    }
    
    .toggle-bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 32px; 
      height: 32px; 
      opacity: 0; 
      transition: opacity 0.3s ease;
      z-index: 1;
    }
    
    
    &:hover .language:not(.active) + .toggle-bg {
      opacity: 1; 
    }
    
    &:hover:not(:has(.language.active)) .toggle-bg {
      opacity: 1; 
    }
  }
  
  .toggle-switch {
    position: relative;
    width: 32px; 
    height: 16px; 
    margin: 0 5px;
    
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    label {
      position: absolute;
      top: 4px; 
      left: 0;
      width: 32px;
      height: 8px; 
      background-color: #F87A55;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.4s;
      
      &:before {
        position: absolute;
        content: "";
        height: 16px; 
        width: 16px;
        left: 0; 
        top: -4px; 
        background-color: #3355FF; 
        border: 1px solid #F8F9FA; 
        border-radius: 50%;
        transition: 0.4s;
      }
    }
    
    input:checked + label:before {
      transform: translateX(16px); 
    }
  }
}

@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    gap: 15px;
  }
  
  .nav-menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .language-switcher {
    margin-top: 10px;
  }
}