<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <a href="#hero">
        <img src="assets/img/header/logo.png" alt="Viktor Logo" class="logo-image">
      </a>
    </div>
    
    <ul class="nav-menu">
      <li><a href="#about">About me</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    
    <div class="language-switcher">
      <div class="language-container" (click)="setLanguage(false)">
        <span class="language" [class.active]="!isGerman">EN</span>
        <img src="assets/img/header/Toggle.png" alt="Toggle Background" class="toggle-bg">
      </div>
      
      <div class="toggle-switch">
        <input type="checkbox" id="language-toggle" (change)="toggleLanguage()" [checked]="isGerman">
        <label for="language-toggle"></label>
      </div>
      
      <div class="language-container" (click)="setLanguage(true)">
        <span class="language" [class.active]="isGerman">DE</span>
        <img src="assets/img/header/Toggle.png" alt="Toggle Background" class="toggle-bg">
      </div>
    </div>
  </div>
</nav>
