<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <a [routerLink]="['/']" fragment="hero">
        <img src="assets/img/header/logo.png" alt="Viktor Logo" class="logo-image">
      </a>
    </div>
    
    <ul class="nav-menu">
      <li>
        <a [routerLink]="['/']" fragment="about" class="nav-link">
          About me
          <img src="assets/img/header/1.png" alt="About me icon" class="nav-icon">
        </a>
      </li>
      <li>
        <a [routerLink]="['/']" fragment="skills">
          Skills
          <img src="assets/img/header/2.png" alt="Skills icon" class="nav-icon">
        </a>
      </li>
      <li>
        <a [routerLink]="['/']" fragment="projects">
          Projects
          <img src="assets/img/header/4.png" alt="Projects icon" class="nav-icon">
        </a>
      </li>
      <li>
        <a [routerLink]="['/']" fragment="contact">
          Contact
          <img src="assets/img/header/3.png" alt="Contact icon" class="nav-icon">
        </a>
      </li>
    </ul>
    
    <div class="language-switcher">
      <div class="language-container" (click)="setLanguage(false)">
        <span class="language" [class.active]="!isGerman">EN</span>
        <img src="assets/img/header/Toggle.png" alt="Toggle Background" class="toggle-bg">
      </div>
      
      <div class="toggle-switch">
        <input type="checkbox" id="language-toggle" (change)="toggleLanguage()" [checked]="isGerman">
        <label for="language-toggle"></label>
      </div>
      
      <div class="language-container" (click)="setLanguage(true)">
        <span class="language" [class.active]="isGerman">DE</span>
        <img src="assets/img/header/Toggle.png" alt="Toggle Background" class="toggle-bg">
      </div>
    </div>
  </div>
</nav>
