$main-font: 'Bricolage Grotesque', sans-serif;
$primary-text-color: #2C2C2C;
$dark-text-color: #0E1013;
$accent-color: #F7C518;
$hover-color: #F87A55;
$white: #FFFFFF;
$light-gray: #F8F9FA;

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin button-style {
  font-family: $main-font;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  background: none;
}

@mixin text-style($size: 16px, $weight: 400, $color: $dark-text-color) {
  font-family: $main-font;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

$mobile: 320px;
$small: 480px;
$tablet: 900px;

$clamp-small: clamp(6px, 2vw, 12px);
$clamp-medium: clamp(8px, 3vw, 15px);
$clamp-large: clamp(10px, 3vh, 20px);
$clamp-text-small: clamp(16px, 4vw, 18px);
$clamp-text-medium: clamp(14px, 4vw, 18px);
$clamp-text-large: clamp(20px, 5vw, 24px);
$clamp-title: clamp(48px, 8vw, 64px);
