<section id="projects">
  <div class="projects-container">
    <div class="row">
      <ng-container *ngFor="let item of projectsWithHeader; let i = index">

        <div *ngIf="item.type === 'header'" class="header-item">
          <p class="subtitle">MY CRAFT</p>
          <div class="projects-title-container">
            <h2 class="projects-title">Projects</h2>
            <div class="title-highlight-container">
              <img src="/assets/img/projects/Color option 3.png" alt="Title Highlight" class="title-highlight">
            </div>
          </div>
          <p class="description">
            Encourage people to take a look and interact with your projects.
            Highlight your approach to creating responsive, user-friendly
            projects with efficient code.
          </p>
        </div>
        
        <div *ngIf="item.type === 'project'" class="project-card">
          <div class="project-image">
            <img [src]="item.imageUrl" [alt]="item.title">
          </div>
          <div class="project-info">
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>