<section id="skills">
  <div class="skills-container">
    <div class="vertical-layout">

      <div class="column header-column">
        <h3 class="skills-subtitle">MY STACK</h3>
        <div class="skills-title-container">
          <h2 class="skills-title">Skill set</h2>
          <div class="title-highlight-container">
            <img src="assets/img/skills/Color option 3.png" alt="Highlight" class="title-highlight">
          </div>
        </div>
      </div>

      <div class="column content-column">
      
        <div class="skills-content">
          <img src="assets/img/skills/1.Skills description.png" alt="Beschreibung Hintergrund" class="paper-background">
          <p class="description-text">
            A short introduction of your skills. Highlight your experience of using different front-end technologies and emphasise your openness to learning and adapting to new technologies.
          </p>
        </div>

        <div class="skills-grid">
          <div class="skill-item" *ngFor="let skill of skills">
            <div class="skill-icon">
              <img [src]="'assets/img/skills/skill.icons/Property 1=' + skill.icon + '.png'" [alt]="skill.name">
            </div>
            <p class="skill-name" [innerHTML]="skill.name"></p>
          </div>
        </div>
      </div>

      <div class="column peel-column">
        <div class="pull-to-peel">
          <div class="peel-container">
            <img src="assets/img/skills/Color option 3/C.png" alt="Hintergrund Layer" class="peel-layer-c">
            <img src="assets/img/skills/Color option 3/B.png" alt="Mittlerer Layer" class="peel-layer-b">
            <img src="assets/img/skills/Color option 3/A.png" alt="Vordergrund Layer" class="peel-layer-a">
            <p class="peel-text">Pull to<br>peel</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
