<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="logo-and-legal-section">
        <div class="logo">
          <a [routerLink]="['/']" fragment="hero">
            <img src="assets/img/header/logo.png" alt="Viktor Naumann Logo" class="logo-img">
          </a>
          <p class="copyright">© Viktor Naumann 2025</p>
        </div>
        <a [routerLink]="['/legal-notice']" class="footer-link legal-notice">{{ 'FOOTER.LEGAL_NOTICE' | translate }}</a>
      </div>
      <div class="footer-link-item">
        <a href="https://github.com/ViktorNaumann" target="_blank" class="footer-link">
          GitHub
          <img src="assets/img/hero/contact-icons/Property 1=Git hub.webp" alt="GitHub Icon" class="footer-icon">
        </a>
      </div>
      <div class="footer-link-item">
        <a href="https://www.linkedin.com/in/viktor-naumann" target="_blank" class="footer-link">
          LinkedIn
          <img src="assets/img/hero/contact-icons/Component 3.webp" alt="LinkedIn Icon" class="footer-icon">
        </a>
      </div>
      <div class="footer-link-item">
        <a href="mailto:Viktor_Naumann@hotmail.de" class="footer-link">
          Email
          <img src="assets/img/hero/contact-icons/Component 3 (1).webp" alt="Email Icon" class="footer-icon">
        </a>
      </div>
    </div>
  </div>
</footer>
