<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="logo-and-legal-section">
        <div class="logo">
          <img src="/assets/img/header/logo.png" alt="Viktor Naumann Logo" class="logo-img">
          <p class="copyright">© Viktor Naumann 2024</p>
        </div>
        <a href="#" class="footer-link legal-notice">Legal Notice</a>
      </div>
      
      <div class="footer-link-item">
        <a href="https://github.com/dein-username" target="_blank" class="footer-link">GitHub</a>
      </div>
      
      <div class="footer-link-item">
        <a href="https://linkedin.com/in/dein-username" target="_blank" class="footer-link">LinkedIn</a>
      </div>
      
      <div class="footer-link-item">
        <a href="mailto:deine-email@example.com" class="footer-link">Email</a>
      </div>
    </div>
  </div>
</footer>
