section {
    height: 120dvh;
    width: 100%;
    background-image: url('/assets/img/hero/12 Isolated Paper Rips copia.png');
    background-size: cover;
    background-position: center;
    
    

}