<section id="hero" class="hero-section">
  <div class="hero-container">
    
    <div class="main-content">
      <button class="hello-button">
        <span class="default-text">{{ 'HERO.HELLO_WORLD' | translate }}</span>
        <span class="hover-text">{{ 'HERO.IM_VIKTOR' | translate }}</span>
        <img src="assets/img/hero/waving_hand.png" alt="Waving Hand" class="waving-hand">
      </button>
      
      <div class="title-container">
        <h1 class="title-first">
          <span class="letter">F</span><span class="letter">r</span><span class="letter">o</span><span class="letter">n</span><span class="letter">t</span><span class="letter">e</span><span class="letter">n</span><span class="letter">d</span>
        </h1>
        <h1 class="title-second">
          <span class="letter">d</span><span class="letter">e</span><span class="letter">v</span><span class="letter">e</span><span class="letter">l</span><span class="letter">o</span><span class="letter">p</span><span class="letter">e</span><span class="letter">r</span>
        </h1>
      </div>
      
      <img src="/assets/img/hero/Viktor.png" alt="Viktor Polaroid" class="polaroid">
      
      <button class="cta-button" [routerLink]="['/']" fragment="contact">{{ 'HERO.GET_IN_TOUCH' | translate }}</button>
    </div>
    
    <div class="social-icons">
      <a href="#" class="icon linkedin">
        <img src="assets/img/hero/contact-icons/Component 3.png" alt="LinkedIn">
      </a>
      <a href="#" class="icon github">
        <img src="assets/img/hero/contact-icons/Property 1=Git hub.png" alt="GitHub">
      </a>
      <a href="#" class="icon email">
        <img src="assets/img/hero/contact-icons/Component 3 (1).png" alt="Email">
      </a>
    </div>
  </div>
</section>
